################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Src/DesafioDotNet/.vs/DesafioDotNet/config
/Src/DesafioDotNet/.vs/DesafioDotNet
/Src/DesafioDotNet/bin/Debug/net5.0
/Src/DesafioDotNet/obj
